<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
  <title>Ben Vandervalk CV</title>
  <link href="style.css" media="all" rel="stylesheet" type="text/css">
  <link href="gray-minimal.css" media="all" rel="stylesheet" type="text/css" class="resume-style">
</head>

<body>

    <div id="resume">
        <div class="header"></div>

        <h1 class="name">
            <span class="first-name">Ben</span>
            <span class="last-name">Vandervalk</span>
            <span class="headline">Bioinformatics Software Developer</span>
            <span class="contact-line">
                <a href="mailto:ben.vvalk@gmail.com">ben.vvalk@gmail.com</a>
                <span class="phone">| +1-604-803-4988</span>
            </span>
        </h1>

        <div class="clear">
            <h1 class="name"></h1>
        </div>

        <!--
        <div class="section contact">
            <h2 class="section-header">
                <span class="text">Contact</span>
            </h2>
            <div class="content">
                <div class="main-address">
                    <span class="label">Address:</span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        -->

        <!--
        <div class="section specialties">
            <h2 class="section-header">
                <span class="text">Specialties</span>
            </h2>
            <div class="content">
                <p>Bioinformatics, Web Services, Databases, Semantic Web</p>
            </div>
            <div class="clear"></div>
        </div>
        -->

        <div class="section goals">
            <h2 class="section-header">
                <span class="text">Career Interests</span>
            </h2>
            <div class="content">
                <p>Algorithm/Software Development for Next Gen Sequence Analysis</p>
            </div>
            <div class="clear"></div>
        </div>

        <div class="section skills">
            <h2 class="section-header">
                <span class="text">Skills</span>
            </h2>
            <div class="content">
                <ul>
                    <li>Software Development (C++, Java, Perl)</li>
                    <li>Algorithm Design and Analysis</li>
                    <li>Mathematics (Calculus, Linear Algebra, Combinatorics)</li>
                    <li>Unix/Linux</li>
                    <li>Revision Control Systems (Git)</li>
                    <li>Cluster Computing (SGE, SLURM)</li>
                    <li>Relational Databases (MySQL)</li>
                    <li>Semantic Web Standards/Technologies (RDF, OWL, SPARQL)</li>
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="section bioinformatics">
            <h2 class="section-header">
                <span class="text">Bioinformatics Knowledge</span>
            </h2>
            <div class="content">
                <ul>
                    <li>Standard Algorithms (e.g. Smith-Waterman, Progressive MSA)</li>
                    <li>Principles of Molecular Biology (e.g. Molecular Dogma)</li>
                    <li>Principles of Molecular Methods (e.g. Next Gen Sequencing Technologies, PCR)</li>
                    <li>Usage of Next Gen Seq Tools (e.g. BWA, FastQC)</li> 
                </ul>
            </div>
            <div class="clear"></div>
        </div>

        <div class="section educations">
            <h2 class="section-header"><span class=
                    "text">Education</span></h2>

            <div class="content">
                <div class="education first">
                    <div class="school-name">
                        University of British Columbia
                    </div>

                    <div class="dates">
                        <span class="start-year">2007</span> <span class=
                            "date-separator">-</span> <span class=
                            "end-year">2010</span>
                    </div>

                    <div class="program">
                        <span class="degree">M. Sc.,</span>
                        <span class="field-of-study">Bioinformatics</span>
                    </div>
                    <div class="thesis">
                        Thesis: <a href="https://circle.ubc.ca/handle/2429/34088">The SHARE System: a Semantic Web Based Approach for Evaluating Queries 
                            Across Distributed Bioinformatics Databases and Software</a>
                    </div>
                </div>

                <div class="education">
                    <div class="school-name">
                        University of Waterloo
                    </div>

                    <div class="dates">
                        <span class="start-year">1998</span> <span class=
                            "date-separator">-</span> <span class=
                            "end-year">2003</span>
                    </div>

                    <div class="program">
                        <span class="degree">B. Math., Computer
                            Science</span>
                    </div>
                </div>
            </div>

            <div class="clear"></div>
        </div>

        <div class="section positions">
            <h2 class="section-header">
                <span class="text">Experience</span>
            </h2>
            <div class="content">
                <div class="position first">
                    <div class="company-name">
                        Michael Smith Genome Sciences Centre, BC Cancer Agency
                    </div>
                    <div class="dates">
                        <!-- <span class="start-month">01 /</span> -->
                        <span class="start-year">2013</span>
                        <span class="date-separator">-</span>
                        <span class="is-current">Present</span>
                    </div>
                    <div class="title">
                        Computational Biologist
                    </div>
                    <div class="projects">
                        <!-- 
                            Currently, there is a bug in wkhtmltopdf that makes it necessary to put these links on
                            separate lines.  Otherwise, the targets of links will all be those of the last link 
                            (SADI Personal Health Lens)
                        -->   
                        <div>
                            Algorithm Development for <a href="https://github.com/bcgsc/abyss">ABySS Genome Assembler</a>
                        </div>
                        <div>
                            <a href="https://genome.cshlp.org/content/early/2017/02/23/gr.214346.116">ABySS 2.0</a>
                        </div>
                        <div>
                            <a href="http://www.bcgsc.ca/platform/bioinfo/software/konnector">Konnector</a>
                        </div>
                	</div>
                </div>
                <div class="position">
                    <div class="company-name">
                        University of British Columbia
                    </div>
                    <div class="dates">
                        <!-- <span class="start-month">01 /</span> -->
                        <span class="start-year">2011</span>
                        <span class="date-separator">-</span>
                        <span class="is-current">2012</span>
                    </div>
                    <div class="title">
                        Software Developer for <a href="http://sadiframework.org/">SADI Web Services Framework</a>
                    </div>
                    <div class="projects">
                        <!-- 
                            Currently, there is a bug in wkhtmltopdf that makes it necessary to put these links on
                            separate lines.  Otherwise, the targets of links will all be those of the last link 
                            (SADI Personal Health Lens)
                        -->   
                        <div>
                            <a href="http://sadiframework.org/documentation/rfc/draft-bvandervalk-sadi-00.txt">SADI Spec</a> 
                        </div>
                        <div>
                            <a href="http://code.google.com/p/sadi/wiki/SADIforGMOD">SADI for GMOD</a>
                        </div>
                        <div>
                            <a href="http://search.cpan.org/dist/SADI-Simple/lib/SADI/Simple.pm">SADI::Simple</a>
                        </div>
                        <div>
                            <a href="https://code.google.com/p/cardioshare/wiki/PersonalHealthLens">SADI Personal Health Lens</a>
                        </div>
                    </span>
                </div>
                </div>
                <div class="position">
                    <div class="company-name">
                        Peninsula Graphite Inc. (Family Business)
                    </div>
                    <div class="dates">
                        <!-- <span class="start-month">01 /</span> -->
                        <span class="start-year">2005</span>
                        <span class="date-separator">-</span>
                        <span class="end-year">2007</span>
                    </div>
                    <div class="clear"></div>
                    <div class="mandate">
                        Electrode Supplier for Canadian Steel Mills
                    </div>
                    <div class="title">
                        Sales, Cash Flow, Shipping/Customs, Contract Negotiations
                    </div>
                </div>
                <div class="position">
                    <div class="company-name">
                        Electronic Arts Canada
                    </div>
                    <div class="dates">
                        <!-- <span class="start-month">01 /</span> -->
						<div>
						  <span class="start-year">2002</span>
						  <span class="date-separator">-</span>
						  <span class="end-year">2003</span>
						</div>
						<div>
						  <span class="months">(8 months)</span>
						</div>
					</div>
                    <div class="title">
                        Intern Software Developer: <a href="http://www.gamespot.com/ssx-3/">SSX 3</a> Snowboarding Game
                    </div>
                    <div class="projects">
                        Lightmap Processing Algorithm (Texture Compression)
                    </div>
                </div>
                <div class="position">
                    <div class="company-name">
                        Xandros Linux
                    </div>
                    <div class="dates">
                        <!-- <span class="start-month">01 /</span> -->
						<div>
						  <span class="end-year" style="float:right;">2002</span>
						</div>
						<div>
						  <span class="months">(4 months)</span>
						</div>
                    </div>
                    <div class="title">
                        Intern Software Developer: "da Vinci" Remote Workstation Admin App
                    </div>
                    <div class="mandate">
                        Remote Task Scheduling Module (a la 'cron') 
                    </div>
                </div>
                <div class="position">
                    <div class="company-name">
                        Inscriber Technology Co. (now Harris)
                    </div>
                    <div class="dates">
					  <div>
						<span class="end-year" style="float:right;">2001</span>
					  </div>
					  <div>
						<span class="months">(4 months)</span>
					  </div>
                    </div>
                    <div class="title">
                        Intern Software Developer: FX Keyframe Video Editor
                    </div>
                    <div class="mandate">
                        Multi-select, Refactoring, Code Documentation
                    </div>
                </div>
                <div class="position">
                    <div class="company-name">
                        Inscriber Technology Co. (now Harris)
                    </div>
                    <div class="dates">
					  <div>
						<span class="end-year" style="float:right;">2000</span>
					  </div>
					  <div>
						<span class="months">(4 months)</span>
					  </div>
                    </div>
                    <div class="title">
                        Intern Software Developer: 3D Effects
                    </div>
                    <div class="mandate">
                        Deformation Effects for Video Transitions (e.g. Wedding Videos)
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>

        <div class="section publications">

            <h2 class="section-header">
                <span class="text">Publications</span>
            </h2>

            <div class="content">

                <!-- Example HTML for publication
                <div class="publication first">
                    <div class="publication-title">
                        SHARE &amp; the Semantic Web - This Time it's Personal with a really long title!
                    </div>
                    <div class="dates">
                        <span class="start-year">2010</span>
                    </div>
                    <div class="publication-details">
                        <span class="dot-separator">&middot;</span>
                        <span class="authors">
                            <span class="authors-label">Authors:</span>
                            <span class="author">B. Vandervalk,</span>
                            <span class="author">E. L. McCarthy,</span>
                            <span class="author">M. D. Wilkinson,</span>
                        </span>
                        <span class="publisher">Proceedings of OWLED 2010,</span>
                        <a href="http://www.oboedit.org/BOSC2011/BOSC2011-program.pdf">http://www.oboedit.org/BOSC2011/BOSC2011-program.pdf</a>
                    </div>
                </div>
                -->
<!-- BEGIN AUTOGENERATED PUBLICATIONS HTML -->
[% PUBLICATIONS %]
<!-- END AUTOGENERATED PUBLICATIONS HTML -->

            </div>

            <div class="clear"></div>
        </div>

        <div class="footer"></div>
    </div>

    <!--
    <div class="view-clear"></div>
    -->

</body>
</html>
